/* Grid container for the home page */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 0px;
  padding: 0px;
  height: 100vh;
}

/* Each button block */
.grid-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh; /* Adjust as needed */
  text-decoration: none;
  border-radius: 0px;
  transition: transform 0.2s;
}

.grid-button:hover {
  transform: scale(1.05);
}

/* Title inside each button */
.button-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}



/* Page styling*/
.page-container {
  flex: 1;

  height: 100vh;
  min-height: 100vh;
}



.back-link {
  margin-top: 0px;
  color: #ccc;
  text-decoration: underline;
}
